.advice-popup {
  position: absolute;
  right: -100px;
  top: 10px;
  background-color: #fff;
  padding: 20px 100px  20px 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.13);
  transition: 1000ms all;

  p {
    font-size: 22px;
    color: #e52c46;
    font-weight: 400;
  }
}

.advice-popup--active {
    position: absolute;
    right: 10px;
    transition: 1000ms all;
}
