.tutoriais-sublista {
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 4px rgba(18, 52, 77, 0.06);
  border-radius: 10px;
  height: 100%;
  overflow: hidden;
}

.sublista-titulo {
  background-color: #112cf8;
  color: #fff;
  font-weight: 500;
  padding: 15px 20px;
  border-radius: 10px 10px 0 0;
  text-align: start;
  font-size: 1.3rem;
  position: relative;
}

.sublista-input {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  border: none;
  padding: 8px 0;
}

.sublista-input input {
  border: none;
  height: 100%;
  width: 300px;
  border-radius: 5px;
  font-size: 18px;
  padding: 0 10px;
}

.sublista-input img {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
.sublista {
  overflow-y: scroll;
  height: calc(100% - 50.8px);
  background-image: url(./background.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.tutorial-link {
  cursor: pointer;
}

.tutorial-link span {
  background: #112cf8;
  color: #fff;
  font-size: 14px;
  padding: 2px 5px;
  border-radius: 5px;
  margin-left: 13px;
}

.tutorial-topo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
  border-bottom: 1px solid #dfe1e6;
}

.tutorial-video {
  display: none;
  height: 600px;
  padding: 10px 25px;
}

.tutorial-link:hover {
  color: #112cf8;
  transition: 150ms all ease;
}

.copiar-link {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.icone-copiar {
  width: 30px;
}
